*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    margin: 0;
    padding: 0;
}

body,html { width: 100%; height: 100%;

  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
                              

}

body { /*background: url('https://i.imgur.com/MoYBh1e.jpg') center center no-repeat; background-size: cover;*/ }

#ui { position: relative; width: 100%; height: 100%; overflow: hidden; }
div.separator { display: block; clear: both; width: 100%; }


.icon2 { 
display: block; 
position: relative;
 padding: 10px 8px; 
padding: 15px 10px;
 width: 30px;
 height: 30px; 
border-radius: 10px;
overflow: hidden; 




}

.icon i { position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%); color: #FFF; z-index: 11; font-size: 15px; }
.icon2 img { width: 16px; margin: -3px 0 0 0; }
.icon2 span { display: block; position: absolute; left: 50%; bottom: 0; transform: translate(-50%,0); width: 100%; height: 100%; }

.icon2.text2 { display: inline-block; overflow: visible; width: auto; padding: 0; }

.icon2.text2 i { 
display: inline-block; 
float: left; 
transform: translate(0%,0%); 
left: 0; 
top: 0; 
position: relative; 
padding: 15px 10px;
 width: 30px; 
height: 30px; 
border-radius: 10px; 
color: #FFF; 


}


.icon2.text2 i:before { position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%); }

.icon2.text2 span { 
position: relative; width: auto; height: auto; left: 0; transform: translate(0,0); display: inline-block; font-size: 12px; padding: 7px 15px 0 10px; font-weight: 700; color: #FFF; 
}



















.icon { 
display: block; 
position: relative;
 padding: 10px 8px; 
margin: 10px 5px 0 5px;
 width: 30px;
 height: 30px; 
border-radius: 10px;
overflow: hidden; 




background-image: linear-gradient(180deg, #ffbbcc30 0, #ffb2c830 16.67%, #ffa8c130 33.33%, #f29db930 50%, #dc93b030 66.67%, #c889a730 83.33%, #b6819e30 100%);

}

.icon i { position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%); color: #FFF; z-index: 11; font-size: 15px; }
.icon img { width: 16px; margin: -3px 0 0 0; }
.icon span { display: block; position: absolute; left: 50%; bottom: 0; transform: translate(-50%,0); width: 100%; height: 100%; }

.icon.text { display: inline-block; overflow: visible; width: auto; padding: 0; }

.icon.text i { 
display: inline-block; 
float: left; 
transform: translate(0%,0%); 
left: 0; 
top: 0; 
position: relative; 
padding: 15px 10px;
 width: 30px; 
height: 30px; 
border-radius: 10px; 
color: #FFF; 


}


.icon.text i:before { position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%); }

.icon.text span { 
position: relative; width: auto; height: auto; left: 0; transform: translate(0,0); display: inline-block; font-size: 12px; padding: 7px 15px 0 10px; font-weight: 700; color: #FFF; 
}


.icon.dying:not(.customstatus) span { animation: trew-status-blink 500ms infinite; }
.icon.pulse i { animation: trew-pulse 500ms 1; }




.info { position: absolute; }
.info3 { position: absolute; }

.info2 { position: absolute; }




.info2.player2  #status { clear: both; }
.info2.player2  #status ul { margin: 10px 0 0 0; }
.info2.player2  #status ul li { float: right;}

.info2.player2  #status ul li#health span {

background-image: linear-gradient(180deg, #f19583 0, #e68379 25%, #d86c6c 50%, #c95561 75%, #bd425b 100%);



 }


.info4 { position: absolute; }
.info4.player4 { top: 196px; right: 25px; text-align: right;}


.info4.player4  #status4 ul li#armor span {
background: #5FAEFB;

background: linear-gradient(to bottom, #5FAEFB, #032B8A);

 }

.info4.player4  #status4 ul li#stamina span { 

background-image: radial-gradient(circle at 50% -20.71%, #e6f58f 0, #e9eb7f 10%, #ecdf6e 20%, #efd25d 30%, #f1c44d 40%, #f2b53c 50%, #f3a52d 60%, #f59522 70%, #f8851d 80%, #fa741e 90%, #fc6324 100%);

 }

.info4.player4  #status4 ul li#hunger span { 

background: #FBB15F;

background: linear-gradient(to bottom, #FBB15F, #8A4F03);

 }

.info4.player4  #status4 ul li#thirst span {
background: #79E4F7;

background: linear-gradient(to bottom, #79E4F7, #086364);
 }












.info2.player2{ bottom: 2%; left: 18%; text-align: left;}

.info.server { top: 45px; right: 26px; width: 90px; height: 90px; }
.info.server #server img { max-width: 100%; opacity: 0.75; }

.info.player { top: 140px; right: 25px; text-align: right;}

.info3.player3 { top: 140px; right: 25px; text-align: right;}
.info3.player3 #job span { font-size: 20px; color: #FFF; font-weight: 900; text-transform: uppercase; text-shadow: 0px 1px 1px rgba(0,0,0,0.75); }




.info2.player2  #status { clear: both; }
.info2.player2  #status ul { margin: 10px 0 0 0; }
.info2.player2  #status ul li { float: right;}

.info2.player2  #status ul li#health span {

background-image: linear-gradient(180deg, #f19583 0, #e68379 25%, #d86c6c 50%, #c95561 75%, #bd425b 100%);



 }


.info2.player2  #status ul li#armor span {
background: #5FAEFB;

background: linear-gradient(to bottom, #5FAEFB, #032B8A);

 }

.info2.player2  #status ul li#stamina span { 

background-image: radial-gradient(circle at 50% -20.71%, #e6f58f 0, #e9eb7f 10%, #ecdf6e 20%, #efd25d 30%, #f1c44d 40%, #f2b53c 50%, #f3a52d 60%, #f59522 70%, #f8851d 80%, #fa741e 90%, #fc6324 100%);

 }

.info2.player2  #status ul li#hunger span { 

background: #FBB15F;

background: linear-gradient(to bottom, #FBB15F, #8A4F03);

 }

.info2.player2  #status ul li#thirst span {
background: #79E4F7;

background: linear-gradient(to bottom, #79E4F7, #086364);
 }

.info2.player2  #status ul li#health.dead { animation: trew-pulse 500ms infinite; }
.info2.player2  #status ul li#health.dead span { height: 0 !important; }

.info2.player2 #status ul li#health.dead i.fas:before { content: '\f714'; }










.info.player #money div[id] { float: right; } 

.info.player #money { clear: both; }
.info.player #money #wallet i { 

background-image: radial-gradient(circle at 50% -20.71%, #edf3ff 0, #b5c9f2 50%, #79a1e2 100%);




}


.info.player #money #blackMoney i { 
background-image: radial-gradient(circle at 50% -20.71%, #fffff6 0, #fffbe1 16.67%, #faedcc 33.33%, #f2deb5 50%, #ebcf9f 66.67%, #e6c08c 83.33%, #e2b17a 100%);

 }

.info.player #money #bank i { 
background-image: radial-gradient(circle at 50% -20.71%, #f4deff 0, #e0caf9 45%, #c8b5f2 75%, #aca2ec 75%, #8c91e7 100%);
}

.info.player #money #society i { 

background-image: radial-gradient(circle at 50% -20.71%, #fbe2d5 0, #fadace 10%, #f9d2c7 20%, #f7c9c1 30%, #f5c0bb 40%, #f2b5b5 50%, #eeabb1 60%, #eaa1ae 70%, #e699ae 80%, #e091af 90%, #da8bb1 100%);
}

/*.info.player #money #wallet i:before  { content: '\f153';  }*/




svg,rect { 

width: 100%; 
height: 100%; 
fill:transparent;

}


rect { 
 
stroke-width:6;
stroke-dasharray:400;
animation: animate 4s linear infinite;

}




.rects { 
stroke-width:6;
stroke-dasharray:400;
animation: animatess 4s linear infinite;

}


@keyFrames animatess{

0%{
   stroke-dashoffset:800;
    }

100%{
   stroke-dashoffset:0;
    }


}



@keyFrames animate{

0%{
   stroke-dashoffset:800;
    }

100%{
   stroke-dashoffset:0;
    }


}










.info.vehicle { bottom: 20px; left: 50%; transform: translate(-50%,0); z-index: 11; }
.info.vehicle.active { opacity: 1; }
.info.vehicle.inactive { opacity: 0; }


.info.vehicle #speedometer { position: relative; width: 270px; height: 130px; }
.info.vehicle #speedometer svg { position: absolute; top: 0; left: 50%; transform: translate(-50%,0) rotate(138deg); width: 130px; }

.info.vehicle #speedometer svg circle { display: block; fill: transparent; stroke-width: 5px; stroke-linecap: round; stroke-dasharray: 283; stroke-dashoffset: 75; transform-origin: 50% 50%; }
.info.vehicle #speedometer svg circle.mask { stroke: rgba(0,0,0,0.35); }
.info.vehicle #speedometer svg circle.speed { stroke: url(#speed-gradient); stroke-dashoffset: 180; }
.info.vehicle #speedometer svg:first-child { z-index: 11; }


.info.vehicle #speedometer svg circle { transition: all 250ms linear; }
.info.vehicle #speedometer svg circle.zero { stroke: #00c3ff; stroke-dashoffset: 235; }
.info.vehicle #speedometer svg circle.twentyfive { stroke: #18b70b; stroke-dashoffset: 180; }
.info.vehicle #speedometer svg circle.fifty { stroke: #ff8000;  stroke-dashoffset: 125; }
.info.vehicle #speedometer svg circle.seventyfive { stroke: #ff0000;  stroke-dashoffset: 75; }


.info.vehicle #speedometer #vehicle-speed { position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); text-align: center; color: #FFF;}
.info.vehicle #speedometer #vehicle-speed span { display: block; font-weight: 900; font-size: 30px; text-shadow: 0px 1px 1px rgba(0,0,0,0.75); }

 .info.vehicle #speedometer #vehicle-speed strong { display: inline-block; font-size: 10px; font-weight: 900; padding: 2px 5px; border-radius: 100px; text-shadow: 0px 1px 1px rgba(0,0,0,0.75); transition: all 150ms linear; }
 .info.vehicle #speedometer #vehicle-speed strong.on { background: #18b70b; }

.info.vehicle #speedometer #vehicle-gear,
.info.vehicle #speedometer #vehicle-others { position: absolute; bottom: 0; left: 50%; width: 69px; transform: translate(-50%,0); margin: auto; border: 2px solid transparent; }

.info.vehicle #speedometer #vehicle-gear.pulsing { animation: trew-siren 1s infinite; }

.info.vehicle #speedometer #vehicle-gear i { top: -2px; }
.info.vehicle #speedometer #vehicle-gear span { padding: 5px 15px 0 10px; }


.info.vehicle #speedometer #vehicle-status-left { position: absolute; bottom: 0; left: 0; }
.info.vehicle #speedometer #vehicle-status-left ul li { float: left; }

.info.vehicle #speedometer #vehicle-status-right { position: absolute; bottom: 0; right: 0; }
.info.vehicle #speedometer #vehicle-status-right ul li { float: left; }

.info.vehicle #speedometer li#seatbelt span { background: linear-gradient(180deg, #ff0000 0%, #aa0000 100%); }
.info.vehicle #speedometer li#seatbelt.on span { background: linear-gradient(180deg, #18b70b 0%, #128c08 100%); }

.info.vehicle #speedometer li#fuel span { background: linear-gradient(180deg, #ff8000 0%, #cd6700 100%); }

.info.vehicle #speedometer li#lights.normal span,
.info.vehicle #speedometer li#lights.high span { background: linear-gradient(180deg, #00c3ff 0%, #008fbb 100%); }

.info.vehicle #speedometer li#signals.dying span { background: linear-gradient(180deg, #18b70b 0%, #128c08 100%); animation: trew-status-blink 750ms infinite; }








.info.weapon { bottom: 85px; right: 25px; }
.info.weapon.armed { display: block; opacity: 1; }
.info.weapon.unarmed { display: none; opacity: 0; }

.info.weapon #weapon_image { float: left; width: 200px; height: 40px; text-align: left; position: relative; }
.info.weapon #weapon_image img { position:  absolute; top: 50%; right: 25px; transform: translateY(-50%); height: 40px; }

.info.weapon #weapon_bullets { color: #FFF; float: left; width: 35px; text-shadow: 0px 1px 1px rgba(0,0,0,0.75); line-height: 1; }
.info.weapon #weapon_bullets .clip { font-weight: 900; font-size: 22px; }
.info.weapon #weapon_bullets .ammo { font-weight: 700; font-size: 16px; opacity: 0.7;}


.info.weapon #bullets { margin: 0; float: left; margin: 5px 0 0 20px; overflow: visible; transform: scale(1.1); }
.info.weapon #bullets i { color: #FFF; float: right; height: 34px; width: 34px; border-radius: 100px; }
.info.weapon #bullets i.clone { background: none; position: absolute; float: none; top: 15px; left: inherit; left: 10px; opacity: 0; }
.info.weapon #bullets.shooting i.clone { animation: trew-bullets 250ms 1; }
.info.weapon #bullets i img { position: absolute; top: 50%; left: 50%; transform: translate(-50%,-35%); }






.info.radio { bottom: 19px; right: 25px; z-index: 11; }
.info.radio #voice { width: 35px; height: 35px; border-radius: 50%; overflow: hidden; background: linear-gradient(180deg, #18b70b 0%, #128c08 100%); text-align: center; padding: 7px 0 0 0; transition: all 0.1s linear; }

.info.radio #voice.whisper { background: linear-gradient(180deg, #ffb700 0%, #e0a102 100%); }
.info.radio #voice.normal { background: linear-gradient(180deg, #18b70b 0%, #128c08 100%); }
.info.radio #voice.shout { background: linear-gradient(180deg, #ff0000 0%, #aa0000 100%); }
.info.radio #voice i.fas { font-size: 18px; color: #FFF; }
.info.radio #voice.speak { animation: trew-soundwave 1s infinite; }

.info.time-and-place { position: absolute; bottom: 18px; right: 65px; height: 38px; font-size: 11px; color: #FFF; background: rgba(0,0,0,0.35); border-radius: 100px; text-align: right; }

.info.time-and-place .data { position: relative; top: 50%; transform: translate(0,-50%); }
.info.time-and-place .data div { padding: 0 25px;  }



@keyframes trew-siren {
    0% { border-color: rgba(255,0,0,0); box-shadow: 0 0 10px 10px rgba(255,0,0,0); }
    50% { border-color: rgba(255,0,0,1); box-shadow: 0 0 10px 10px rgba(255,0,0,0.50); }
    100% { border-color: rgba(255,0,0,0); box-shadow: 0 0 10px 10px rgba(255,0,0,0); }
}

@keyframes trew-soundwave {
    0% { box-shadow: 0 0 0 0px rgba(255,255,255,0.75); }
    100% { box-shadow: 0 0 0 25px rgba(255,255,255,0); }
}

@keyframes trew-status-blink {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}

@keyframes trew-pulse {
    0% { transform: scale(1); }
    25% { transform: scale(1.5); }
    100% { transform: scale(1); }
}

@keyframes trew-speed {
    0% { stroke-dashoffset: 280; }
    50% { stroke-dashoffset: 75; }
    100% { stroke-dashoffset: 280; }
}

@keyframes trew-bullets {
    0% { opacity: 0; }
    25% { opacity: 1; }
    100% { transform: translate(30px,-60px) rotate(90deg); opacity: 0;}
}

@keyframes trew-rainbow{
        100%,
        0%{ background: rgba(255,0,0,0.70); }
        8%{ background: rgba(255,127,0,0.70); }
        16%{ background: rgba(230,205,23,0.70); }
        25%{ background: rgba(127,255,0,0.70); }
        33%{ background: rgba(0,255,0,0.70); }
        41%{ background: rgba(0,255,127,0.70); }
        50%{ background: rgba(0,255,255,0.70); }
        58%{ background: rgba(0,127,255,0.70); }
        66%{ background: rgba(0,0,255,0.70); }
        75%{ background: rgba(127,0,255,0.70); }
        83%{ background: rgba(255,0,255,0.70); }
        91%{ background: rgba(255,0,127,0.70); }
}










.icondi { 
display: block; 
position: relative;
 padding: 10px 8px; 
margin: 10px 5px 0 5px;
 width: 30px;
 height: 30px; 
border-radius: 10px;
overflow: hidden; 


background-image: linear-gradient(180deg,  rgba(173, 255, 255, 0.23)  0, rgba(164, 255, 255, 0.23) 25%, rgba(157, 242, 242, 0.23)50%,rgba(151, 218,222, 0.23)75%,  rgba(146, 197,203, 0.23) 100%);

}

.icondi i { position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%); color: #FFF; z-index: 11; font-size: 15px; }
.icon img { width: 16px; margin: -3px 0 0 0; }
.icon span { display: block; position: absolute; left: 50%; bottom: 0; transform: translate(-50%,0); width: 100%; height: 100%; }

.icondi.textdi { display: inline-block; overflow: visible; width: auto; padding: 0; }

.icondi.textdi i { 
display: inline-block; 
float: left; 
transform: translate(0%,0%); 
left: 0; 
top: 0; 
position: relative; 
padding: 15px 10px;
 width: 30px; 
height: 30px; 
border-radius: 10px; 
color: #FFF; 


}


.icondi.textdi i:before { position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%); }

.icondi.textdi span { 
position: relative; width: auto; height: auto; left: 0; transform: translate(0,0); display: inline-block; font-size: 12px; padding: 7px 15px 0 10px; font-weight: 700; color: #FFF; 
}

















